@model List<ResultMessageByIsReadFalse>
<li class="dropdown dropdown-list-toggle">
    <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle">
        <i data-feather="mail"></i>
        @if (Model != null && Model.Count > 0)
        {
            <span class="badge headerBadge1">@Model.Count</span>
        }
    </a>
    <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
        <div class="dropdown-header">
            Mesajlar (@(Model?.Count ?? 0))
            <div class="float-right"><a href="#">Tümünü Okundu İşaretle</a></div>
        </div>
        <div class="dropdown-list-content dropdown-list-message">
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <a href="/Admin/Message/MessageDetail/@item.MessageId" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            @* Kullanıcı baş harfini veya sabit bir ikon göstermek için *@
                            <img alt="image" src="/admintemplate/assets/img/user.png" class="rounded-circle">
                        </span>
                        <span class="dropdown-item-desc">
                            <span class="message-user">@item.NameSurname</span>
                            <span class="time messege-text">@item.Subject</span>
                            <span class="time">@item.SendDate.ToString("dd MMM yyyy - HH:mm")</span>
                        </span>
                    </a>
                }
            }
            else
            {
                <div class="text-center p-3 text-muted">Yeni mesajınız yok.</div>
            }
        </div>
        <div class="dropdown-footer text-center">
            <a href="/Admin/Message/Inbox">Tüm Mesajları Gör <i class="fas fa-chevron-right"></i></a>
        </div>
    </div>
</li>
