@model List<ResultMessageByIsReadFalse>

<nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn"><i data-feather="maximize"></i></a></li>
            <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Ara..." aria-label="Search" data-width="200">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle">
                <i data-feather="mail"></i>
                @if (Model != null && Model.Count > 0)
                {
                    <span class="badge headerBadge1">@Model.Count</span>
                }
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                    Mesajlar (@(Model?.Count ?? 0))
                    <div class="float-right"><a href="#">Tümünü Okundu İşaretle</a></div>
                </div>
                <div class="dropdown-list-content dropdown-list-message">
                    @if (Model != null && Model.Any())
                    {
                        @foreach (var item in Model)
                        {
                            <a href="/Admin/Message/MessageDetail/@item.MessageId" class="dropdown-item">
                                <span class="dropdown-item-avatar text-white">
                                    @* Kullanıcı baş harfini veya sabit bir ikon göstermek için *@
                                    <img alt="image" src="/admintemplate/assets/img/user.png" class="rounded-circle">
                                </span>
                                <span class="dropdown-item-desc">
                                    <span class="message-user">@item.NameSurname</span>
                                    <span class="time messege-text">@item.Subject</span>
                                    <span class="time">@item.SendDate.ToString("dd MMM yyyy")</span>
                                </span>
                            </a>
                        }
                    }
                    else
                    {
                        <div class="text-center p-3 text-muted">Yeni mesajınız yok.</div>
                    }
                </div>
                <div class="dropdown-footer text-center">
                    <a href="/Admin/Message/Inbox">Tüm Mesajları Gör <i class="fas fa-chevron-right"></i></a>
                </div>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="/admintemplate/assets/img/user.png" class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Merhaba, Admin</div>
                <a href="/Admin/Profile" class="dropdown-item has-icon"> <i class="far fa-user"></i> Profil</a>
                <a href="/Admin/Settings" class="dropdown-item has-icon"> <i class="fas fa-cog"></i> Ayarlar</a>
                <div class="dropdown-divider"></div>
                <a href="/Auth/Logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
            </div>
        </li>
    </ul>
</nav>
@* <nav class="navbar navbar-expand-lg main-navbar sticky">
    <div class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn"><i data-feather="maximize"></i></a></li>
            <li>
                <form class="form-inline mr-auto">
                    <div class="search-element">
                        <input class="form-control" type="search" placeholder="Ara..." aria-label="Search" data-width="200">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav navbar-right">
        <li class="dropdown dropdown-list-toggle">
            <a href="#" data-toggle="dropdown" class="nav-link nav-link-lg message-toggle">
                <i data-feather="mail"></i><span class="badge headerBadge1">6</span>
            </a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                <div class="dropdown-header">
                    Mesajlar
                    <div class="float-right"><a href="#">Tümünü Okundu İşaretle</a></div>
                </div>
                <div class="dropdown-list-content dropdown-list-message">
                    <a href="#" class="dropdown-item">
                        <span class="dropdown-item-avatar text-white">
                            <img alt="image" src="/admintemplate/assets/img/users/user-1.png" class="rounded-circle">
                        </span>
                        <span class="dropdown-item-desc">
                            <span class="message-user">Ahmet Yılmaz</span>
                            <span class="time messege-text">Yeni bir yorum var!</span>
                            <span class="time">2 Dakika Önce</span>
                        </span>
                    </a>
                </div>
                <div class="dropdown-footer text-center"><a href="#">Tümünü Gör <i class="fas fa-chevron-right"></i></a></div>
            </div>
        </li>

        <li class="dropdown">
            <a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                <img alt="image" src="/admintemplate/assets/img/user.png" class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
                <div class="dropdown-title">Merhaba, Admin</div>
                <a href="/Admin/Profile" class="dropdown-item has-icon"> <i class="far fa-user"></i> Profil</a>
                <a href="/Admin/Settings" class="dropdown-item has-icon"> <i class="fas fa-cog"></i> Ayarlar</a>
                <div class="dropdown-divider"></div>
                <a href="/Auth/Logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i> Çıkış Yap</a>
            </div>
        </li>
    </ul>
</nav>
 *@